.nodered/flows.json
[{"id":"84cd08cd87495a00","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"96efcd74d6d62e66","type":"mqtt-broker","name":"HiveMQ","broker":"837f98724a904400990a4a3d39c9aa96.s1.eu.hivemq.cloud","port":"8883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ada99fc0de9fd527","type":"mqtt-broker","name":"HiveMQ MQTT Broker","broker":"837f98724a904400990a4a3d39c9aa96.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"3","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"1c13803e6b5ed960","type":"mqtt-broker","name":"MQQT one Broker","broker":"b37.mqtt.one","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f26efe1f26b76ba6","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"66138d978320fc5ff035f18e00e87b66bfd5378c6160fa792c168706a1b297de-certificate.pem.crt","keyname":"66138d978320fc5ff035f18e00e87b66bfd5378c6160fa792c168706a1b297de-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"a700ded668a5f360","type":"mqtt-broker","name":"AWS IoT","broker":"a3pfkcxof0uxpy-ats.iot.eu-north-1.amazonaws.com","port":"8883","tls":"f26efe1f26b76ba6","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"broker-config","type":"mqtt-broker","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e2d4b21a.1c783","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b53452cf.3bf5d8","type":"http in","z":"84cd08cd87495a00","name":"","url":"/control/led","method":"post","upload":false,"swaggerDoc":"","x":390,"y":500,"wires":[["a9d4a2b4.82c0b8"]]},{"id":"a9d4a2b4.82c0b8","type":"json","z":"84cd08cd87495a00","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":520,"wires":[["b273ed7f5ffc779e","07df7c037e4e12af","f7ed0a0c9512f2ec"]]},{"id":"b273ed7f5ffc779e","type":"http response","z":"84cd08cd87495a00","name":"","statusCode":"","headers":{},"x":1030,"y":480,"wires":[]},{"id":"07df7c037e4e12af","type":"debug","z":"84cd08cd87495a00","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.status","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":640,"wires":[]},{"id":"633852c2a31d4a71","type":"mqtt out","z":"84cd08cd87495a00","name":"","topic":"esp32/control","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a700ded668a5f360","x":1300,"y":580,"wires":[]},{"id":"f7ed0a0c9512f2ec","type":"change","z":"84cd08cd87495a00","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[["633852c2a31d4a71"]]}]